/node_modules
/build
/wp/*
!/wp/wp-content
/wp/wp-content/*
!/wp/wp-content/themes
/wp/wp-content/themes/*
!/wp/wp-content/themes/shorty-blog
/wp/wp-content/themes/shorty-blog/js
/wp/wp-content/themes/shorty-blog/css
!/wp/wp-content/themes/chris-coppola-blog
/wp/wp-content/themes/chris-coppola-blog/js
/wp/wp-content/themes/chris-coppola-blog/css
/wp/wp-content/plugins/*
!/wp/wp-content/plugins/portfolio-post-types
/old_*
*.log
.vscode
