<li class="comment" id="PostComment{{comment.ID}}">
	<div class="comment-author">{{comment.author.name}} says</div>
	<div class="comment-content">
		{{comment.comment_content|wpautop}}
	</div>

	<div class="comment-replies">
		<!-- child comments -->
		{% if comment.children %}
			<h4> Replies </h4>
			<ul>
				{% for child in comment.children %}
					{% include "components/comment.twig" with {'comment' : child} %}
				{% endfor %}
			</ul>
		{% endif %}

		<!-- comment form -->
		{% include "components/comment-form.twig" %}
	</div>
</li>