<div class="comments">
	{% if comments %}
		<h3>Comments</h3>
		<ul>
			{% for comment in comments %}
				{% include 'components/comment.twig' with {'comment': comment} %}
			{% endfor %}
		</ul>
	{% endif %}

	{% if comment_status == "closed" %}
		<div class="comments-status">Comments for this post are closed.</div>
	{% else %}
		{% include 'components/comment-form.twig' %}
	{% endif %}
</div>