<footer id="Footer">
	<div class="container">
		<div class="row">
			<div class="col">
				<h4>Column One</h4>
			</div>
			<div class="col">
				<h4>Column Two</h4>
			</div>
			<div class="col">
				<h4>Column Three</h4>
			</div>
		</div>
	</div>
	
</footer>