$header-default-space: $space-medium;
$header-default-margin: 0 0 $header-default-space;

p, ul, ol, li {
	line-height: $font-line-height-normal
}

// ####################################
//  Headers
// ####################################

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-header;
	line-height: 1.25;
	margin: $header-default-margin;
}

// ####################################
//  Sub Headers
//
//  h5 and h6 headers can be used as 
//  subheaders for h1, h2, h3, and h4,
//  reducing the margin between them. 
// ####################################

h1, h2, h3, h4 {
	+ h5, + h6 {
		margin-top: -$header-default-space;
	}
}

h1 {
	font-size: $font-size-enormous; 
}

h2 {
	font-size: $font-size-gigantic;
}

h3 {
	font-size: $font-size-huge;
}

h4 {
	font-size: $font-size-large;
}

h5 {
	font-size: $font-size-normal;
}

h6 {
	font-size: $font-size-small;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol  {
	+ * {
		margin-top: $header-default-space;
	}
}

// ####################################
//  Horizontal Lines
// ####################################

hr {
	border: none;
	border-top: solid 1px $color-inverse;
	margin: $space-medium 0;
}

hr.break {
	border-color: $color-dark-grey;

	&:after {
		color: $color-dark-grey;
	}

	&.primary {
		border-color: $color-primary;
		&:after {
			color: $color-primary;
		}
	}

	&.short {
		max-width: 40px;
	}

	&.fancy-dot {
		position: relative;
		overflow: visible;
	
		&:after {
			@include icon(circle);
			@include center(vertical);	
			left: 75%;		
			background-color: $color-white;			
			font-size: $font-size-tiny;
			text-align: center;
			width: 25px;
			padding: 0 $space-miniscule;
			
		}
	}

	&.fancy-arrow {
		position: relative;
		overflow: visible;
	
		&:after {
			@include icon(caret-left);
			@include position(absolute 50% 0px 0 0);
			@include transform(translateY(-50%));
			font-size: $font-size-normal;
			text-align: right;
			
		}
	}
}